body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: scroll;
  height: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.is-init{
  display: none!important;
}
body {
  background: #f6f6f6;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.is-not-ready{
  display: none;
}
.is-not-ready *{
  animation-duration: 0s!important;
  transition: 0s none!important;
}
.tomatch{
  position: relative;
  height: 100%;
}
.gameBox{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 13px;
  bottom: 10vh;
  transition-duration: 300ms;
}
.box {
  display: flex;
  padding: 6px;
  margin: -6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  flex-wrap: wrap;
  font-size: 18px;
  border-radius: 7px;
  background-color: #fbfbfb;
  touch-action: none;
}

.box .cell-wrap{
  display: block;
  position: relative;
  width: 25%;
  font-size: inherit;
}
/* .box .cell-wrap{
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  padding-top: calc(100% - 12px);
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 2px 8px 2px rgba(0,0,0,0.025);
  border-radius: 5px;
} */
.box .cell-ts-wrap{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px;
  top: 0;
  left: 0;
  z-index: 2;
}
.box .cell-box{
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.box .cell-box::before{
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 2px 8px 2px rgba(0,0,0,0.035);
  border-radius: 5px;
}
.cell-wrap, .cell-box, .cell-ts-wrap{
  transition-property: all;
  transition-duration: inherit;
}
.cell{
  padding-top: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0px 8px 2px rgba(0,0,0,0.125);
  color: #fff;
}
.cell-inner{
  margin: auto;
}
.cell-wrap .cell:not(.lv_0){
  cursor: pointer;
}

.box .cell-inner{
  position: absolute;
  width: 100%;
  height: 1em;
  left: 0;
  top: 50%;
  margin-top: -.5em;
  text-align: center;
  vertical-align: middle;
  font-size: inherit;
  font-weight: 1000;
}

.btn-box{
  padding-top: 20px;
  display: flex;
}
.btn-box .btn{
  margin-left: auto;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  font-size: 16px;
  width: 5em;
  border-radius: 7px;
  transition: 4s all;
  color: #fff;
  font-size: 100%;
  transform: translate(0, 0);
}
.btn-box .btn.unmake{
  margin-left: 0;
  margin-right: auto;
  color: #ccc;
  opacity: 0;
}
.btn-box .btn.remake{
  width: auto;
  margin-left: auto;
  color: #fff;
  opacity: 0;
  padding: 0 1em;
  text-align: center;
}
.remake{
  background-color: #1fddff;
}
.btn-box .btn.hide{
  /* transform-origin: 50% 100%; */
  /* transition-property: 600; */
  /* transform: rotateX(90deg) translateY(100%); */
  opacity: 0;
}
.btn-box .btn.show{
  opacity: 1;
}
.btn-box .btn:active{
  transition: 0.1s!important;
  box-shadow: inset rgba(255, 255, 255, .6) 0 0 18px 3px;
}
.is-on-error{
  animation: is_error .075s infinite alternate-reverse;
}
@keyframes is_error{
  0%{transform: translateX(0);}
  100%{transform: translateX(1%);}
}
.is-new.cell{
  /* opacity: 0; */
  animation: is_new .2s forwards;
}
.is-on-destroy.cell{
  opacity: 1;
  animation: is_new .2s forwards reverse;
}
.is-level-up.cell{
  /* z-index: 999!important; */
  animation: is_up .2s;
}
@keyframes is_new{
  0%{
    opacity: 0;
    transform: scale(.3);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes is_up{
  0%{
    transform: scale(1);
  }
  40%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
.lv_0.cell{
  opacity: 0;
}
.lv_1.cell{
  background-color: #1fddff;
  z-index: 3;
}
.lv_2.cell{
  background-color: #27bdfe;
  z-index: 4;
}
.lv_3.cell{
  background-color: #2f9cfd;
  z-index: 5;
}
.lv_4.cell{
  background-color: #377efc;
  z-index: 6;
}
.lv_5.cell{
  background-color: #3F5EFB;
  font-size: 95%;
  z-index: 7;
}
.lv_6.cell{
  background-color: #6c64db;
  font-size: 95%;
  z-index: 8;
}
.lv_7.cell{
  background-color: #9a6cbd;
  font-size: 95%;
  z-index: 9;
}
.lv_8.cell{
  background-color: #c8729d;
  font-size: 95%;
  z-index: 10;
}
.lv_9.cell{
  background-color: #f7797d;
  font-size: 95%;
  z-index: 11;
}
.lv_10.cell{
  background-color: #f8907f;
  font-size: 90%;
  z-index: 12;
}
.lv_11.cell{
  background-color: #f9a281;
  font-size: 90%;
  z-index: 13;
}
.lv_12.cell{
  background-color: #fabe83;
  font-size: 90%;
  z-index: 14;
}
.lv_13.cell{
  background-color: #FBD786;
  font-size: 90%;
  z-index: 15;
}
.lv_14.cell{
  font-size: 83%;
  background-color: #dc9f68;
  z-index: 16;
}
.lv_15.cell{
  font-size: 83%;
  background-color: #ba6046;
  z-index: 17;
}
.lv_16.cell{
  font-size: 83%;
  background-color: #A43931;
  z-index: 18;
}
.lv_17.cell{
  font-size: 83%;
  background-color: #833c39;
  z-index: 19;
}
.lv_18.cell{
  font-size: 83%;
  background-color: #623e40;
  z-index: 20;
}
.lv_19.cell{
  font-size: 83%;
  background-color: #414048;
  z-index: 21;
}
.lv_20.cell{
  font-size: 80%;
  background-color: #1D4350;
  z-index: 22;
}

/* .cell-ts-wrap+.cell-ts-wrap{
  background-color: #000000;
  z-index: 9999999999!important;
} */